@font-face {
  font-family: 'ProductSansRegular';
  src: local('ProductSans-Regular'), url('../fonts/ProductSans-Regular.ttf'),
    url('../fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProductSansBold';
  font-weight: 600;
  src: local('ProductSans-Bold'), url('../fonts/ProductSans-Bold.ttf');
}

@font-face {
  font-family: 'ProductSansMedium';
  font-weight: 500;
  src: local('ProductSans-Medium'), url('../fonts/ProductSans-Medium.ttf');
}
@font-face {
  font-family: 'ProductSansLight';
  font-weight: 300;
  src: local('ProductSans-Light'), url('../fonts/ProductSans-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('Roboto_medium'), url('../fonts/Roboto_medium.ttf');
}

@font-face {
  font-family: 'LemonadaMedium';
  font-weight: 400;
  src: local('Lemonada-Medium'), url('../fonts/Lemonada-Medium.ttf');
}

@font-face {
  font-family: 'LemonadaRegular';
  src: local('Lemonada-Regular'), url('../fonts/Lemonada-Regular.ttf');
}

@font-face {
  font-family: 'LemonadaLight';
  src: local('Lemonada-Light'), url('../fonts/Lemonada-Light.ttf');
}


@font-face {
  font-family: 'LemonadaBold';
  font-weight: 600;
  src: local('Lemonada-Bold'), url('../fonts/Lemonada-Bold.ttf');
}

@font-face {
  font-family: 'LemonadaSemiBold';
  font-weight: 500;
  src: local('Lemonada-SemiBold'), url('../fonts/Lemonada-SemiBold.ttf');
}