@font-face {
  font-family: 'ProductSansRegular';
  src: local('ProductSans-Regular'), ('./fonts/ProductSans-Regular.ttf');
}

@font-face {
  font-family: 'ProductSansBold';
  src: local('ProductSans-Bold'), ('./fonts/ProductSans-Bold.ttf');
}

@font-face {
  font-family: 'ProductSansMedium';
  src: local('ProductSans-Medium'), ('./fonts/ProductSans-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), ('./fonts/Roboto.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('Roboto_medium'), ('./fonts/Roboto_medium.ttf');
}