.content {
  // height: calc(100vh - 64px);
  // margin-top: 64px;
  // margin-bottom: 80px;
}

.sideBar {
  height: calc(100vh - 64px);
  margin-top: 64px;
  position: fixed;
  left: 0;
  right: 0;
}

.background-image {
  background-image: url('/login.png'),
  linear-gradient(226deg, #fff 48%, #fff 100%) !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;
  background-color: #fff;
}

// 