$primary: #974578;

.Mui-focused {
  color: $primary !important;
}

.MuiOutlinedInput-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $primary;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $primary !important;
}

button {
  font-family: ProductSansRegular !important;
  outline: none !important;
}

.btn {
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}