$primary: #ffc107;
$dark: #282828;

.Mui-focused {
  color: $dark !important;
}

.MuiOutlinedInput-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $dark;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $dark !important;
}

button {
  font-family: primaryFont !important;
  outline: none !important;
}

.btn {
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}