@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './variables/colors.scss';
@import './styles/styles.scss';
@import './styles/font-face.scss';
@import './styles/colors.scss';
@import './styles/layout.scss';
@import './styles/reset.scss';
@import './styles/responsive.scss';

* {
  box-sizing: border-box;
  outline: none !important;
  // transition: all .25s;
  // font-family: ProductSansRegular !important;
}

a {
  text-decoration: none;
  color: #747474;

  &:hover {
    text-decoration: none;
    color: #747474;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'ProductSansRegular', 'ProductSansLight', 'ProductSansMedium', 'Roboto', 'RobotoMedium', 'LemonadaRegular', 'LemonadaLight', 'LemonadaBold', 'LemonadaMedium' !important;
  background-color: #f7f7f7 !important;
  background-image: url('/layout_pattern.png'),
    linear-gradient(226deg, #f7f7f7 48%, #f7f7f7 100%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #ff3d71;
}

.MuiButton-root {
  font-family: 'ProductSansRegular';
  font-size: 1.01rem !important;
  text-transform: capitalize !important;

}

.artisanList {
  .MuiListItem-button {
    background: white;
  }
}

.MuiTypography-body1 {
  font-family: 'ProductSansRegular' !important ;
  font-size: 1.05rem !important;
}
